# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Model files
*.pt
*.pth
*.bin

# Dataset files (if large)
*.csv
*.xlsx

# Jupyter
.ipynb_checkpoints/

# ML models
*.pkl

# or only this file
outputs/baseline2/metadata_model.pkl